.elementor-106 .elementor-element.elementor-element-6de6e74{color:#000000;}.elementor-106 .elementor-element.elementor-element-d26d1c9{color:#000000;}.elementor-106 .elementor-element.elementor-element-1b9c9e7{color:#000000;}