.elementor-124 .elementor-element.elementor-element-d382658{color:#000000;}.elementor-124 .elementor-element.elementor-element-6eac732c{color:#000000;}.elementor-124 .elementor-element.elementor-element-857afbc{color:#000000;}