.elementor-122 .elementor-element.elementor-element-4213e0f{color:#000000;}.elementor-122 .elementor-element.elementor-element-56d1c002{color:#000000;}.elementor-122 .elementor-element.elementor-element-e6a5783{color:#000000;}