.elementor-676 .elementor-element.elementor-element-93cdfae{color:#000000;}.elementor-676 .elementor-element.elementor-element-6e373f48{color:#000000;}.elementor-676 .elementor-element.elementor-element-d4b72eb{color:#000000;}