.elementor-673 .elementor-element.elementor-element-1b823f5{color:#000000;}.elementor-673 .elementor-element.elementor-element-35644195{color:#000000;}.elementor-673 .elementor-element.elementor-element-9481d73{color:#000000;}