.elementor-92 .elementor-element.elementor-element-a9998e7{color:#000000;}.elementor-92 .elementor-element.elementor-element-54428289{color:#000000;}.elementor-92 .elementor-element.elementor-element-71f5227{color:#000000;}