.elementor-118 .elementor-element.elementor-element-31b267c{color:#000000;}.elementor-118 .elementor-element.elementor-element-f619741{color:#000000;}.elementor-118 .elementor-element.elementor-element-ff06064{color:#000000;}