.elementor-656 .elementor-element.elementor-element-0781fff{color:#000000;}.elementor-656 .elementor-element.elementor-element-15218227{color:#000000;}.elementor-656 .elementor-element.elementor-element-1b17b0b{color:#000000;}