.elementor-81 .elementor-element.elementor-element-a801e99 .elementor-text-editor{text-align:center;}.elementor-81 .elementor-element.elementor-element-a801e99{font-family:"Arial", Sans-serif;font-size:1px;}